body {
    font-family: Arial, sans-serif;
    background-color: #ffff66; /* Warna kuning */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.content {
    margin: 20px 0;
}

.content h2 {
    margin: 0;
    font-size: 28px;
}

.content p {
    margin: 5px 0;
    font-size: 18px;
    color: #666;
}

.info {
    text-align: left;
}

.info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.info ul li a {
    color: #007bff;
    text-decoration: none;
}

.info ul li a:hover {
    text-decoration: underline;
}
